.container {
    margin: auto;
    text-align: center;
    width: 100% !important;
    top: 0;
    z-index: 99;
}

.heading {
    z-index: 9;
    font-size: 52px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 100% !important;
    margin: auto !important;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100%;
}

.categories {
    overflow-x: scroll;
    width: 63%;
    margin: 0px auto 50px auto;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: transparent;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category {
    background-color: transparent !important;
    padding: 20px 40px;
}


.search_bar {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search_bar input[type="search"] {
    display: flex;
    font-size: 20px;
    width: max-content;
    text-align: center;
    outline: none;
    border: none;
    /* width: 100%; */
    /* border-bottom: 2px solid pink; */
}

.search_bar_logo {
    /* background-color: red; */
    /* display: flex; */
    font-size: 29px;
}

@media (max-width:576px) {

    .heading {
        font-size: 30px;
        flex-direction: column;
        font-weight: bold;
        margin: auto;
        text-align: center;
    }

    .logo {
        width: 100px;
        margin: auto;
    }

    .categories {
        width: 100%;
        margin: 10px 0;
    }

    .category {
        padding: 20px 40px;
    }

}